    {% extends "navbar.html" %}

    {% block body %}
    <div class="container">
        


        <div class="row">

                   
            <hr>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <img class="img-responsive" src=" static/images/{{ image }}">
                <a href="static/images/{{ image }}">See larger image</a>
            </div>
            
        </div>
        
        <h3>Type of advert: {{ typeAdvert }}</h3>
        <h4>City: {{ city }}</h4>
        <h4>Postal zip: {{ pzip }}</h4>
        
        <div class="container" style="padding-right: 500px;">
            <p><h4>Description:</h4> </p>
        	<p class="text-left">
        		<h4>{{ description }}</h4>
        	</p>
        </div>
        <h4>Price: {{ price }}</h4>
       <a href="/advertsCatalogue"><--Back</a>
    </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    {% endblock %}